/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
*{
  box-sizing: border-box;
}

/*Begin Nav-css*/
nav{
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.7rem;
}

nav a{
  text-decoration: none;
  font-size: 12px;
  margin: 0.5rem;
  color: grey;
  transition: all 0.6s;
}

nav a:hover{
  color: black;
}

.nav_left{
  font-size: 20px;
}
/*End Nav-css*/



body {
  font-family: sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 1em;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.8em 0.75em;
}



/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  text-decoration: none;
  font-size: 12px;
  margin: 0.5rem;
  color: grey;
  transition: all 0.6s;
}

.button-nav:hover, .button-nav:focus {
    color: black;
}

/*Styling for the in text link*/

.in-text-link{
  color:grey;
  transition: color 0.6s;
  text-decoration: none;
  font-size: 12px;
}
.in-text-link:hover, .in-text-link:focus {
  color: black;
}

/*Styling for submit button*/
.btn-submit, .btn-reset{
  background-color: white;
  display: inline-block;
  padding: 1em 4em;
  color: black;
  border-radius: 0.25em;
  text-decoration: none;
  transition: all 0.6s;
  
}
.btn-submit:hover, .btn-reset:hover{
  color:white;
  background-color:black;
}

/* 
  TEXT ELEMENTS -------------------
*/
.heading-one{
  font-size:3rem;
  font-family: 'Noto Sans', sans-serif;
}

.heading-two{
  font-size:2rem;
  font-family: 'Crimson Text', serif;
}

.heading-three{
  font-size:1.5rem;
  font-family: 'Abel', sans-serif;
}

.para{
  font-family: 'Noto Sans', sans-serif;
}

.bullet-lst{
  font-family: 'Noto Sans', sans-serif;
  list-style-type:disc;
}
.numbered-lst{
  font-family: 'Noto Sans', sans-serif;
}

/* 
  COMBINED ELEMENTS -------------------

*/
.product-container{
  display:flex;
  flex-wrap: wrap;
}

.product-item{
  display:flex;
  
  border:3px solid black;
  margin:1em;
  text-align:center;
  background-color:#ccc;
  
}

.product-item h3{
  align-items: flex-start;
  color:white;
  background-color:black;
  width:300px;
}

.product-item ul{
  list-style-type:none;
  text-align:left;
  
  
}
.product-item p{
  color:blue;
}
.button-detail{
  border: none;
  background-color:#355dfc;
  color:white;
  padding: 14px 20px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.button-detail:hover{
  background-color: #0320fc;
}

nav#menu {
  display: flex;
}

.colour1{
  text-align:center;
  color:white;
  height:50px;
  background-color: #0320fc;
}

.colour2{
  text-align:center;
  color:white;
  height:50px;
  background-color: #355dfc;
}
.colour3{
  text-align:center;
  color:white;
  height:50px;
  background-color: #ccc;
}


/*style for grid stucture*/
#structure-sample *{
        box-sizing: border-box;
}
#structure-sample header {
  padding: 10px;
  display:flex;
  color: white;

}

#structure-sample h2 {
  text-align: center;
}

#structure-sample .logo {
  height:50px;
  background-color: #0f00ff;
  width: 10%;
  
}


#structure-sample nav {
  display: flex;
  justify-content: flex-end;
  
}

#structure-sample nav a {
  width:10rem;
  display: inline-block;
  padding: 0.5em 1em;
  color: black;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  text-align: center;
}

#structure-sample nav a:hover {
  color:white;
  background-color: #0320fc;
}

#structure-sample main {
  display: flex;
  flex-wrap: wrap;
}



#structure-sample .main {
  background-color: #cccccc;
  padding: 20px;
}

#structure-sample .fakeimg {
  height:200px;
  background-color:  #0320fc;
  padding: 20px;
}
#structure-sample .service{
  display:flex;
}
#structure-sample .service>div{
  width:100%;
  background-color:#355dfc;
  text-align:center;
  margin:1em;
  height:10em;
}
#structure-sample .fakemap {
  height:200px;
  background-color:  #0320fc;
  padding: 20px;
}
#structure-sample footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

#structure-sample .car{
  display:flex;
}
#structure-sample .car>div{
  width:100%;
  background-color:#355dfc;
  text-align:center;
  margin:1em;
  height:10em;
}


